{% extends "base-layout.html" %} {% block search %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/search.css">-->
<script src="/static/js/search.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
<script>
    $(document).on('ready', function() {
        $(".single-item").slick({
            slidesToShow: 3,
            slidesToScroll: 3
        });
    });

    function openNav() {
        $('#myIngredients').css('height', '36.23vw');
    }

    function closeNav() {
        $('#myIngredients').css('height', '0');
    }
    // Click on a close button to hide the current list item
    var close = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
            var div = this.parentElement;
            //div.style.display = "none";
            var parent = document.getElementById("myUL");
            parent.removeChild(div);
        }
    }

    $(function() {
        var submit_form = function(e) {
            var myNode = document.getElementById("recipeResults");
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }
            document.getElementById("loader").style.display = "block";
            $('#myIngredients').css('height', '0');
            var ingredientString = "";
            $('#myUL').find('li').each(function() {
                ingredientString += $(this).text().slice(0, -1) + ', ';
            });
            ingredientString = ingredientString.slice(0, -2);
            document.getElementById("ingredientList").value = ingredientString;
            var searchedIngredients = ingredientString;

            $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                a: $('input[name="a"]').val(),
            }, function(data) {
                var c = $('#resultsCount').clone();
                c.html(data.length + " recipe results including '" + searchedIngredients + "'");
                c.appendTo("#recipeResults");

                var i;
                for (i = 0; i < data.length; i++) {
                    title = data[i].title;
                    imageUrl = data[i].imageUrl;

                    var d = $('#recipeDiv').clone();
                    d.html("<div class='resultContainer'><img src=" + imageUrl + " class='img-thumbnail'><p><span>" + title + "</span></p></div>");
                    //document.getElementsByClassName("resultContainer img").src= imageUrl;
                    d.appendTo("#recipeResults");

                }
                document.getElementById("loader").style.display = "none";
                document.getElementById("recipeResults").style.display = "block";
                $('#result').text(text);
            });
            return false;
        };
        $('button#searchB').bind('click', submit_form);
        $('input[type=text]').bind('keydown', function(e) {
            if (e.keyCode == 13) {
                submit_form(e);
            }
        });
    });
    var close = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
            var div = this.parentElement;
            //div.style.display = "none";
            var parent = document.getElementById("myUL");
            parent.removeChild(div);
        }
    }

    // Create a new list item when clicking on the "Add" button
    function newElement() {
        if (document.getElementById("myInput").value === '') {
            var x = document.getElementById("snackbar")
            x.innerHTML = "Please enter an ingredient";
            x.className = "show";
            setTimeout(function() {
                x.className = x.className.replace("show", "");
            }, 3000);
        } else {
            document.getElementById("searchB").disabled = false;
            $('#searchB').css('background', '#1abc9c');
            var check = true;
            $('#myUL').find('li').each(function() {
                var innerDivId = $(this).text();
                innerDivId = innerDivId.slice(0, -1);

                if (innerDivId.toLowerCase() === document.getElementById("myInput").value.toLowerCase())
                    check = false;
            });

            if (check) {

                var out = document.getElementById("ingredientBank");
                var li = document.createElement("li");
                var inputValue = document.getElementById("myInput").value;
                var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;
                var t = document.createTextNode(inputValue);
                li.appendChild(t);
                document.getElementById("myUL").appendChild(li);

                document.getElementById("myInput").value = "";

                var span = document.createElement("SPAN");
                var txt = document.createTextNode("\u00D7");
                span.className = "close";
                span.appendChild(txt);
                li.appendChild(span);

                if (isScrolledToBottom)
                    out.scrollTop = out.scrollHeight - out.clientHeight;

                for (i = 0; i < close.length; i++) {
                    close[i].onclick = function() {
                        var div = this.parentElement;
                        var parent = document.getElementById("myUL");
                        parent.removeChild(div);

                        var bank = $('#myUL');
                        if (bank.children().length < 1) {
                            document.getElementById("searchB").disabled = true;
                            $('#searchB').css('background', '#b2b2b2');
                        }
                    }
                }
            } else {
                var x = document.getElementById("snackbar")
                x.innerHTML = "'" + document.getElementById("myInput").value + "' has already been added";
                x.className = "show";
                setTimeout(function() {
                    x.className = x.className.replace("show", "");
                }, 3000);
            }
        }
    }


    function newElementFromPantry(name) {
        var out = document.getElementById("ingredientBank");
        var li = document.createElement("li");
        var inputValue = name;

        var check = true;
        $('#myUL').find('li').each(function() {
            var innerDivId = $(this).text();
            innerDivId = innerDivId.slice(0, -1);
            if (innerDivId.toLowerCase() === name.toLowerCase())
                check = false;
        });

        if (check) {
            document.getElementById("searchB").disabled = false;
            $('#searchB').css('background', '#1abc9c');
            var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;

            var t = document.createTextNode(inputValue);
            li.appendChild(t);
            if (inputValue === '') {
                alert("No Ingredient Entered!");
            } else {
                document.getElementById("myUL").appendChild(li);
            }
            document.getElementById("myInput").value = "";

            var span = document.createElement("SPAN");
            var txt = document.createTextNode("\u00D7");
            span.className = "close";
            span.appendChild(txt);
            li.appendChild(span);

            if (isScrolledToBottom)
                out.scrollTop = out.scrollHeight - out.clientHeight;

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function() {
                    var div = this.parentElement;
                    var parent = document.getElementById("myUL");
                    parent.removeChild(div);

                    var bank = $('#myUL');
                    if (bank.children().length < 1) {
                        document.getElementById("searchB").disabled = true;
                        $('#searchB').css('background', '#b2b2b2');
                    }
                }
            }
        } else {
            var x = document.getElementById("snackbar")
            x.innerHTML = "'" + name + "' has already been added";
            x.className = "show";
            setTimeout(function() {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
    }
</script>

<style>
    body {
        margin: 0;
        min-width: 60.38vw;
        font-size: 3.86vw;
    }
    /* Include the padding and border in an element's total width and height */

    * {
        box-sizing: border-box;
    }
    /* Remove margins and padding from the list */

    ul {
        margin: 0;
        padding: 0;
    }
    /* Style the list items */

    ul li {
        cursor: pointer;
        position: relative;
        padding: 1.2vw 8.45vw 1.9vw 1.9vw;
        background: #eee;
        font-size: 4.8vw;
        transition: 0.2s;
        width: auto;
        margin: 0.48vw;
        display: inline-block;
        border-radius: 1.45vw;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Set all odd list items to a different color (zebra-stripes) */

    ul li:nth-child(odd) {
        background: #f9f9f9;
    }
    /* Add a "checked" mark when clicked on */
    /* Style the close button */

    .close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 1.45vw 2.9vw 1.45vw 2.9vw;
    }
    /* Style the input */

    input {
        border: none;
        width: 70%;
        padding: 2.4vw;
        float: left;
        font-size: 3.86vw;
        background-color: #eee;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        border-bottom-left-radius: 1.2vw;
        border-top-left-radius: 1.2vw;
    }

    .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .search-wrapper {
        width: 100vw;
        position: relative;
        height: auto;
    }
    /* Style the "Add" button */

    .pantryBtn {
        padding: 2.4vw;
        width: 48.5%;
        background: #1abc9c;
        color: #fff;
        float: left;
        text-align: center;
        font-size: 3.86vw;
        cursor: pointer;
        transition: 0.3s;
    }

    .searchBtn {
        padding: 2.4vw;
        width: 48.5%;
        background: #b2b2b2;
        color: #fff;
        float: right;
        text-align: center;
        font-size: 3.86vw;
        cursor: pointer;
        transition: 0.3s;
    }

    .word-bank {
        overflow: auto;
        width: 90vw;
        height: 27.17vh;
        margin: 2.4vw auto;
        padding: 1.2vw;
        border: 0.4vw solid grey;
        border-radius: 1.2vw;
    }

    .pantry {
        height: 25.81vh;
        width: 0%;
        position: absolute;
        z-index: 1;
        margin: 1.35vh auto;
        background-color: #1abc9c;
        overflow-y: hidden;
        transition: 0.5s;
        text-align: center;
        line-height: 100%;
    }

    .ingredientCarousel .closebtn {
        position: relative;
        top: 0vw;
        right: -4vw;
        font-size: 8.7vw;
        float: right;
        color: white;
    }

    #snackbar {
        visibility: hidden;
        background-color: #1abc9c;
        color: #fff;
        padding: 1.86vw;
        z-index: 99 !important;
        position: absolute;
        top: 20vh;
        width: 100%;
        max-width: 960px;
        /* min-width: 600px; */
        height: auto;
        max-height: 14.49vw;
        overflow: hidden;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 7.24vw;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 7.24vw;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 7.24vw;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 7.24vw;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }

    .btn-group,
    .btn-group-vertical {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 10.145vw;
        width: 26.81vw;
        top: -0.24vw;
    }

    .plusBtn {
        padding: 2.4vw;
        width: 50%;
        height: 100%;
        background: #1abc9c;
        color: #fff;
        float: left;
        text-align: center;
        font-size: 5.3vw;
        cursor: pointer;
        transition: 0.3s;
        z-index: 2;
    }

    .minusBtn {
        padding: 2.4vw;
        width: 50%;
        height: 100%;
        background: #ff7f7f;
        color: #fff;
        float: left;
        text-align: center;
        font-size: 5.3vw;
        cursor: pointer;
        transition: 0.3s;
        z-index: 2;
    }

    .results {
        background: #1abc9c;
        height: auto;
        width: 100vw;
        margin-top: 1.35vh;
    }

    .ingredientCarousel {
        margin: 2.4vw auto;
        width: 100%;
        color: black;
        background-color: #1abc9c;
        overflow-x: hidden;
        transition: 0.5s;
        text-align: center;
        display: block;
        padding-left: 7.2vw;
        padding-right: 7.2vw;
        height: 0;
    }

    .slick-slide {
        text-align: center;
        color: #419be0;
        background: #fff;
        margin: 1.2vw;
    }

    .slider {
        display: none;
    }

    .slider.slick-initialized {
        display: block;
    }

    .carouselHeader {
        margin: 12vw auto;
        font-size: 4.8vw;
        font-weight: bold;
        color: #fff;
    }

    .overlay {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }

    .resultContainer {
        border: 0.23vw solid #dfe3e2;
        background-color: #fff;
        padding: 3.86vw;
        margin: 0;
    }

    .resultContainer::after {
        content: "";
        clear: both;
        display: table;
    }

    .resultContainer img {
        float: left;
        margin-right: 4.8vw;
        width: 38.64vw;
        height: 25.6vw;
    }

    .resultContainer span {
        font-size: 4.83vw;
        margin-right: 3.62vw;
    }

    @media (max-width: 500px) {
        .resultContainer {
            text-align: center;
        }
    }

    #loader {
      position: relative;
      display: none;
      z-index: 1;
      border: 3.86vw solid #f3f3f3;
      border-radius: 50%;
      border-top: 3.86vw solid #1abc9c;
      width: 28.98vw;
      height: 28.98vw;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      top: 5vh;
      margin: 0 auto;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /* Add animation to "page content" */

    .results {
        position: relative;
        -webkit-animation-name: results;
        -webkit-animation-duration: 1s;
        animation-name: results;
        animation-duration: 1s
    }

    @-webkit-keyframes results {
        from {
            bottom: -24.15vw;
            opacity: 0
        }
        to {
            bottom: 0px;
            opacity: 1
        }
    }

    @keyframes results {
        from {
            bottom: -24.15vw;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }

    #recipeResults {
        display: none;
        text-align: center;
    }

    .btn {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
</style>

<div id="body-wrapper">
    <div id="ingredientBank" class="container-fluid word-bank">
        <ul id="myUL">
            <!--li ingredients go here-->
        </ul>
    </div>

    <div class="container-fluid search-wrapper">
        <div class="container-fluid" style="width:90vw; margin:0 auto;">
            <input type="text" id="myInput" placeholder="Include/exclude ingredients">

            <div class="btn-group">
                <button type="button" class="btn plusBtn glyphicon glyphicon-plus" onclick="newElement()"></button>
                <button type="button" class="btn minusBtn glyphicon glyphicon-minus" onclick="newElement()"></button>
            </div>


        </div>
    </div>

    <div class="container-fluid search-wrapper" style="margin-top:2.4vw;">
        <div class="container-fluid" style="width:90vw; margin:0 auto;">
            <button onclick="openNav()" class="btn pantryBtn">Pantry</button>
            <button type="button" id="searchB" disabled class="btn searchBtn">Search</button>
        </div>
    </div>
    <div id="snackbar"></div>

    <div id="myIngredients" class='ingredientCarousel'>
        <span class="carouselHeader">Pantry<a href="javascript:void(0)" onclick="closeNav()" style ="float:right;position:relative;color:#fff;">&times;</a></span>
        <div class='single-item'>
            {% for i in ingredients %} {% set value = i.name %}
            <div onclick="newElementFromPantry('{{ value }}')" style="line-height: 48.3vw; text-align:center; background-color:#fff; background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)), url({{ i.imageUrl }}); background-repeat:no-repeat;background-size:100% 100%; height:24.15vw;">
                <span style="color:#fff; display: inline-block; vertical-align: super; line-height: normal;">{{value}}</span>
            </div>
            {% endfor %}
        </div>
    </div>


    <div id="recipeDiv"></div>
    <div id="resultsCount" style="color:#fff;"></div>

    <div id="loader"></div>
    <input id="excludedingredientList" type="hidden" size="1000" name="b">
    <input id="ingredientList" type="hidden" size="1000" name="a">

    <div id="recipeResults" class="results">
    </div>
</div>


{% endblock %}
