{% extends "layout.html" %}
{% block search %}
    <div class="container-fluid bg-1 text-center" style = "margin-top:20px;">

      <br><br>
      <div class="row centered">
        <div>
          <a href ='/search/by-ingredients-search'><div id="circle" class="col-xs-6" style ="background-image:url('/static/images/by-ingredients-background.jpg'); background-size: cover;
  background-repeat: no-repeat;"></div></a>
          <h3>By Ingredient</h3>
        </div>
      </div>

      <div class="row centered">
        <div>
          <a href = '/search'><div id="circle" class="col-xs-6" style ="background-image:url('/static/images/by-recipe-background.jpg'); background-size: cover;
  background-repeat: no-repeat;"></div></a>
          <h3>By Recipe</h3>
        </div>
      </div>

    </div>
{% endblock %}
